*.md linguist-language=javascript
*.html linguist-language=javascript
*.js linguist-language=javascript
*.xml linguist-language=javascript
*.css linguist-language=javascript
*.mpx linguist-language=javascript
